* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  
  .Logo {
    font-size: 2rem;
    pointer-events: none;
    color: #359381;
  }
  
  .navigation a {
    color: #359381;
    text-decoration: none;
    padding: 6px 15px;
    margin: 0px 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 15px;
    transition: all 0.3s ease;
  }
  
  .navigation a:hover {
    background-color: #359381;
    color: white;
  }

  .navigation a.active {
    background-color: #097563;
    color: white;
  }
  
  .dropdown-bar {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    top: 100px; /* Adjust as needed */
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 100%;
    opacity: 0;
  transform: translateY(-10px);
  transition: opacity 3s ease, transform 3s ease;
  }

  .dropdown-bar .dropdown-header {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 170px;
  }
  
  .services {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services:hover .services a {
    background-color: #359381;
    color: white;
  }
  
  .services:hover .dropdown-bar {
    display: block;
    opacity: 1;
  transform: translateY(0);
 }

  .dropdown-bar:hover {
    display: block;
  }
  
.Brand img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: -10px;
}


.card {
    border: none;
    text-align: center;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.login-btn {
    background-color: #359381;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.login-btn:hover {
    background-color: #097563;
}
