/* src/components/Help.css */
 

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 50px;
  width: 600px;
  border-radius: 10px;
  color: rgb(227, 230, 238);
  cursor: pointer;
  transition: 450ms;
}

.contact-link {
  color: #1f3a58;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
}

.contact-link:hover {
  text-decoration: underline;
}


.card p.tip {
  font-size: 1.1em;
  font-weight: 500;
}

.card p.second-text {
  font-size: 0.8em;
  display: none; /* Initially hide content */
}

.card-expanded p.second-text {
  display: block; /* Show content when card is expanded */
}

.card:hover {
  transform: scale(1.4);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(1);
}


.help-page {
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.body-content {
  display: flex;
  justify-content: space-between;
  background-color: #1a243b; /* Light peach color */
  padding: 20px;
} 

.intro h1 {
  margin: 0;
  font-size: 2rem;
  color: #7b899e;
}

.search-box {
  background-color: #012f68; /* Dark blue color */
  color: rgb(255, 248, 248);
  padding: 20px;
  border-radius: 5px;
}

.search-box p {
  margin: 0 0 10px 0;
}

.featured-articles {
  padding: 20px;
}

.featured-articles h2 {
  margin-top: 0;
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.article {
  background-color: #000000;
  padding: 10px;
  border: 1px solid #222969;
  border-radius: 5px;
  cursor: pointer;
}

.article:hover {
  background-color: #ffffff62;
}

.article-title {
  font-weight: bold;
}

.article-content {
  margin-top: 10px;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
}
