@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}


.bg-circular-gradient {
  --tw-gradient-from: theme('colors.I');
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, theme('colors.black'));
}

/* Custom scrollbar styles */
.sidebar::-webkit-scrollbar,
.content::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  background-color: rgb(102, 70, 191,0.7);
  border-radius: 20px;
}

.sidebar::-webkit-scrollbar-thumb:hover,
.content::-webkit-scrollbar-thumb:hover {
  background-color: rgb(102, 70, 191,0.3);
  cursor:grab;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar::-webkit-scrollbar-track{
  background: #1e1e1e;
}


